In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

In [2]:
#Print frist 5 rows to view data
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [6]:
#Player Count
# count # of unique SN
totplayers = purchase_data['SN'].nunique()
# Turn in to dictionary
totplayers_dict = [{'Total Players':totplayers}]
# Turn in to dataframe
totplayers_df = pd.DataFrame(totplayers_dict)
# Print Data Frame
totplayers_df

   Total Players
0            576

In [23]:
#Purchasing Analysis Tool
# count # of unique Items
totitems = purchase_data['Item ID'].nunique()
# Find the average price
avePrice = purchase_data['Price'].mean()
#Count total # of purchases
totPurchases = purchase_data['Purchase ID'].count()
# Find total revenue of all sales
totRev = purchase_data['Price'].sum()
# Create Summary Dictionary
purchasing_summary_dict = [{'Total Items':totitems,'Average Price':avePrice,'Total Purchases':totPurchases,'Total Revenue':totRev}]
# trun dictionary into dataframe
purchasing_summary_df = pd.DataFrame(purchasing_summary_dict)
# format currency columns in dataframe
purchasing_summary_df['Average Price'] = purchasing_summary_df['Average Price'].map('${:.2f}'.format)
purchasing_summary_df['Total Revenue'] = purchasing_summary_df['Total Revenue'].map('${:.2f}'.format)
#print dataframe
purchasing_summary_df

   Total Items Average Price  Total Purchases Total Revenue
0          179         $3.05              780      $2379.77

In [44]:
# Gender Demographics
#creat new dataframe with all duplicate users removed
purchase_data_nodupes_data = purchase_data.drop_duplicates(subset='SN')
#Create new data frame of Gender counts
genderCounts = pd.DataFrame(purchase_data_nodupes_data['Gender'].value_counts())
# Find % of each gender catagory
genderperc = genderCounts["Gender"]/totplayers
# Add column to datafram with corespective %'s
genderCounts['Percentage of Players'] = genderperc
# Format the % column properly
genderCounts['Percentage of Players'] = genderCounts['Percentage of Players'].map('{:.2%}'.format)
genderCounts

                       Gender Percentage of Players
Male                      484                84.03%
Female                     81                14.06%
Other / Non-Disclosed      11                 1.91%

In [66]:
#Purchasing Analysis
# Using GroupBy in order to separate the data into fields according to "Gender" values
grouped_purchase_data = purchase_data.groupby(['Gender'])
# total purchases per gender
purchase_by_gender = grouped_purchase_data['Purchase ID'].count()
# Ave price per gender
aveprice_by_gender = grouped_purchase_data['Price'].mean()
# total revenue per gender
totRev_by_gender = grouped_purchase_data['Price'].sum()
# ave total purchase per person
aveRevPerPerson = 'No Idea'
#Creating new vaiables
genderCounts['Purchase Count'] = purchase_by_gender
genderCounts['Ave Purchase Price'] = aveprice_by_gender
genderCounts['Total Purchese Value'] = totRev_by_gender
genderCounts['Ave Total Purchase/ Person'] = aveRevPerPerson
#removing undded columns from DF
newGenderCounts = genderCounts.drop(['Gender','Percentage of Players'],axis=1)
newGenderCounts

,Total Purcheses,Ave Purchase Price,Total Purchese Value,Ave Total Purchase/ Person
Male,652,3.017853,1967.64,No Idea
Female,113,3.203009,361.94,No Idea
Other / Non-Disclosed,15,3.346000,50.19,No Idea

In [ ]:
#Ave Demographics