In [11]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [30]:
#District Summary
#Calculate the total number of schools
#unique = school_data_complete['school_name'].unique()
#unique
totuniqueschools = school_data_complete['school_name'].nunique()
totuniqueschools

15

In [31]:
#Calculate the total number of students
totuniquestudents = school_data_complete['student_name'].nunique()
totuniquestudents

32715

In [135]:
#Calculate the total budget
totbudget = school_data_complete[['school_name','budget']].value_counts()
totbudget

school_name            budget
Bailey High School     3124928    4976
Johnson High School    3094650    4761
Hernandez High School  3022020    4635
Rodriguez High School  2547363    3999
Figueroa High School   1884411    2949
Huang High School      1910635    2917
Ford High School       1763916    2739
Wilson High School     1319574    2283
Cabrera High School    1081356    1858
Wright High School     1049400    1800
Shelton High School    1056600    1761
Thomas High School     1043130    1635
Griffin High School    917500     1468
Pena High School       585858      962
Holden High School     248087      427
dtype: int64

In [126]:
#Calculate the average math score
totMathsScores = school_data_complete['math_score'].nunique()
#totMathsScores
mathsAve = round(school_data_complete['math_score'].mean(),2)
mathsAve

78.99

In [127]:
#Calculate the average reading score
totReadScores = school_data_complete['reading_score'].count()
#totReadScores
readAve = round(school_data_complete['reading_score'].mean(),2)
readAve

81.88

In [116]:
#Calculate the percentage of students with a passing math score (70 or greater)
mathsScores_df = school_data_complete['math_score'].value_counts(normalize=False).sort_index(ascending=False).rename_axis('unique_values').reset_index(name='counts')
#mathsScores_df
subset_mathsScores_df = mathsScores_df[mathsScores_df["unique_values"] > 69]
#subset_mathsScores_df
mathsPass = round(sum(subset_mathsScores_df["counts"])/totuniquestudents,4)*100
mathsPass

89.78

In [120]:
#Calculate the percentage of students with a passing reading score (70 or greater)
readScores_df = school_data_complete['reading_score'].value_counts(normalize=False).sort_index(ascending=False).rename_axis('unique_values').reset_index(name='counts')
#readScores_df
subset_readScores_df = readScores_df[readScores_df["unique_values"] > 69]
#subset_readScores_df
readPass = round(sum(subset_readScores_df["counts"])/totuniquestudents,4)*100
readPass

102.74000000000001

In [37]:

#Calculate the percentage of students who passed math and reading (% Overall Passing)

In [38]:
#Create a dataframe to hold the above results

In [39]:
#Optional: give the displayed data cleaner formatting